@import url("https://fonts.googleapis.com/css2?family=Borel&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background-color: #769fcd;
}
.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
  background-color: yellow;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  border: 1px solid grey;
  background: lightyellow;
  cursor: pointer;
}

/* Center the dialog container */
dialog {
  color: black;
  border: #b9d7ea solid;
  border-radius: 10px;
  padding-top: 8px;
  align-items: center;
  display: flex;
  gap: 45px;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 25%;
  background-color: #e3fdfd;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.header {
  position: relative;
  top: 20px;
  display: flex;
  text-align: center;
}
dialog h3 {
  justify-self: center;
  font-size: 1.5rem;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  gap: 50px;
}

form p {
  font-size: 16px;
  font-weight: 600;
}

form input {
  height: 25px;
  font-size: 17px;
  border: solid #769fcd;
  border-radius: 5px;
}

form > * {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

form button {
  display: flex;
  background-color: #f6f6f6;
  color: #769fcd;
  font-weight: 600;
  border: #769fcd solid;
  border-radius: 15px;
  justify-content: center;
  height: 40px;
  font-size: 22px;
  width: 155px;
}

form button a {
  text-decoration: none;
  color: #000000;
}
