@import url("https://fonts.googleapis.com/css2?family=Borel&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background-color: #1d546c;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
h1 {
  color: #ffffff;
  font-size: 30px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
button.cell {
  border-radius: 4px;
  color: #0c2b4e;
  font-weight: 600;
}
.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 6px;
  padding: 2px;
  background-color: #f4f4f400;
}
.container {
  display: flex;
  gap: 22px;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  border: 1px solid grey;
  background: lightyellow;
  cursor: pointer;
}

/* ------- DIALOG AND FORM ---------*/
/* Center the dialog container */
::backdrop {
  color: black;
  border: #b9d7ea solid;
  border-radius: 10px;
  align-items: center;
  display: flex;
  gap: 45px;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 45%;
  width: 30%;
  background-color: #e3fdfd;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

dialog {
  color: black;
  border: #b9d7ea solid;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 45%;
  width: 30%;
  background-color: #e3fdfd;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.header {
  position: relative;
  top: 20px;
  display: flex;
  text-align: center;
}
dialog h3 {
  justify-self: center;
  font-size: 1.5rem;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  height: 19.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-weight: 500;
  gap: 50px;
}
header h2 {
  color: #0c2b4e;
  display: flex;
  justify-content: center;
  text-align: center;
}
form p {
  font-size: 16px;
  font-weight: 600;
}

form input {
  height: 25px;
  font-size: 17px;
  border: solid #769fcd;
  border-radius: 5px;
}

form > * {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.buttons-container button {
  display: flex;

  background-color: #f6f6f6;
  color: #769fcd;
  font-weight: 600;
  border: #769fcd solid;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 22px;
  width: 5em;
}

form button a {
  text-decoration: none;
  color: #000000;
}

form input {
  width: 250px;
  height: 30px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}

/* -----------FIRST PLAYER AND SECOND PLAYER -------------- */
.player1,
.player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: #e2e2e2;
}

/* ----------- START MENU -------------- */
.system-change-buttons {
  width: 20rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.system-change-buttons button {
  border: solid white 2px;
  width: 110px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  border-radius: 5px;
}
